.bg-yup {
  display: inline-block;
  background-color: rgb(12, 170, 67);
  color: black;
  padding: 2px 5px;
}
.bg-kinda {
  display: inline-block;
  background-color: rgb(219, 119, 19);
  color: black;
  padding: 2px 5px;
}
.bg-nope {
  display: inline-block;
  background-color: rgb(235, 12, 12);
  color: black;
  padding: 2px 5px;
}
